.card {
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  padding-left: 15px;
  padding-right: 15px;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.166);
  border-radius: 25px;
  margin-bottom: 30px;
  box-shadow: 0px 0px 20px grey;
}
